* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}
html, body {
width: 100%;
height: 100%;    

}
.container {
display: grid;
height: 100%;
width: 100%; 
grid-gap: 10px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-areas:
'header1 header2 header3'
'main1 main1 main1'
"main2 main2 main2"
"main3 main3 main3"
"main4 main4 main4"
"footer footer footer";

}

/* .container > div {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);   
    font-size: 30px;
    border: 2px solid green;
    grid-column-gap: 10px;
    
  } */

  

  .header1{
      grid-row: 1/6;
      grid-column: 1/4;
 
 
}
.header2{
   
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/6;
}

.header3{
    text-align: right;
    grid-column: 3/3;
    grid-row: 1/6;

}

.item1 {
   
    grid-column: 1/4;
    grid-row: 2/6;
    height: 20%;
    
}

.item2{
    grid-area: m6ain2;
    grid-column: 1/4;
    grid-row: 3/ 6;
    height: 20%;
}

.item3{
    grid-area: main3;
    grid-column: 1/ 4;
    grid-row: 4/ 6;
    height: 20%;
}

.item4{
    grid-area: main4;
    grid-column: 1/4;
    grid-row: 5/6;
}

.footer{
    grid-area: footer; 
    grid-column:1/4;
    grid-row: 6/6;
    height: 20%;
}
