* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}
html, body {
width: 100%;
height: 100%;    
}

.item-a {
    grid-area: header;
  }
.item-b {
    grid-area: main;
  }
.item-c {
    grid-area: main2;
  }
.item-d {
    grid-area: footer;
  }

  
.container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "main2 main2 main2 main2"
      "footer footer footer footer";
  }